# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\trainingTime\ogoni\HTMLReader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
